.product-main-div
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.product-main-div-1
{
    display: flex;
    width: 80%;
    background-color: red;
    height: 75%;

}
.product-img-div
{
    width: 50%;
    background-color: green;
    box-sizing: border-box;
    padding: 25px;
}
.product-detail-div
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 25px;
}

img
{
height: 100%;
width: 100%;
object-fit: contain;
}