.product-main-div
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}
.product-main-div-1
{
    display: flex;
    width: 80%;
    background-color: rgb(255, 255, 255);
    height: 75%;
}
.product-img-div
{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;

}


.product-detail-div
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 5%;
    padding: 25px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; 
}
.product-detail-div>button,.quantity-counter button{
    margin-top: 20px;

    padding: 5px;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 150px;
}

.product-detail-div> button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

img
{
height: 100%;
width: 100%;
object-fit: contain;
}
/* Default styles for all devices */

/* Media query for phones */
@media only screen and (max-width: 600px) {
    .product-main-div
    {
        height: 150;
        padding: 35px;
        box-sizing: border-box;
    }
    .product-main-div-1
{
    display: flex;
    flex-direction: column;
    width: 85%;

    height: 100%;
}
.product-img-div
{
    width: 100%;
    height: 40%;

    box-sizing: border-box;
    padding: 25px;
}
img
{
height: 100%;
width: 100%;
object-fit: cover;
}
.product-detail-div
{
    width: 100%;
    height: 60%;
}
  }

  /* Media query for tablets */
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .product-main-div-1
    {
        display: flex;
        flex-direction: column;
        width: 80%;

        height: 75%;
    }
    .product-main-div
    {
      height: 150vh;
    }
    .product-img-div
    {
        width: 100%;
        height: 45%;

        box-sizing: border-box;
        padding: 25px;
    }
    img
    {
    height: 100%;
    width: 100%;
    object-fit: cover;
    }
    .product-detail-div
    {
      width: 100%;
      height: max-content;
    }
      }


  /* Media query for desktops */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .product-main-div
    {
      height: 150vh;
    }
    .product-main-div-1
    {
        display: flex;
        flex-direction: column;
        width: 80%;

        height: 75%;
    }
    .product-img-div
    {
        width: 100%;
        height: 45%;

        box-sizing: border-box;
        padding: 25px;
    }
    img
    {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    }
    .product-detail-div
    {
   width: 100%;
    }
      }
      .quantity-counter
      {
        align-items: center;
        height: 50px;
        column-gap:15px ;
      }
      .quantity-counter input
      {
        width: 45px;
        text-align: center;
        border-radius: 10px;
        box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
        border:none;

        
    margin-top: -5px;
      }
      .quantity-counter button{
    margin-top: -5px;
        padding: 5px;
        background-color: #c2fbd7;
        border-radius: 100px;
        box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
        color: green;
        cursor: pointer;
        display: inline-block;
        font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
        padding: 7px 20px;
        text-align: center;
        text-decoration: none;
        transition: all 250ms;
        border: 0;
        font-size: 16px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 150px;
    }